<form ng-controller="tablesController" ng-submit="analysis.generalQuery()">
	<fieldset class="m-1 p-1">
		<legend>Tables</legend>
		<div class="container">

			<div class="row mb-2">
				<div class="form-group m-0">
			    <!-- >label for="exampleFormControlSelect2">Example multiple select</label-->
			    <select multiple class="form-control" id="tablesSelect"  size="10"
			    	ng-model="tables.selectedTableIds"> <!-- ng-options="(tables.listTables.indexOf(table)+1) +' - '+
			    	table.title for (idx, table) in tables.listTables | orderBy : 'identifier' track by table.identifier" size="7">-->
			      	<option value="{{item.identifier}}"  
			      	ng-repeat="item in tables.listTables | orderBy : 'title'" ng-selected="tables.listTables">{{$index+1}} - {{item.title}}</option>
			      
			    </select>
			  </div>
			</div>
			
			
		</div>
	</fieldset>
	
	<div class="container d-flex justify-content-around mb-2">

		<input type="submit" class="btn btn-secondary submitBtn" value="Query"></input>

		<input type="reset" class="btn btn-secondary submitBtn"
			ng-click="tables.reset()" value="Reset"></input>

	</div>
</form>


	