
/************************************************/
/*****************IMPORT ***********************/
/************************************************/

@import url('fonts.css');



/************************************************/
/*****************GENERAL ***********************/
/************************************************/

body{
    font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace, Helvetica;
}

/**************************************************************/
/*********************** EN TETE ******************************/
/**************************************************************/

#entete{
	background-color:#f1f1f1;/*#e0e5f6; #d1e0f0;B0C4DE*/
	border-bottom: outset #eeeeee 2px;
	height:30px;
}


#entete .navbar-brand{
	color:#5f5f5f;
	font-size:1.3rem;
	font-weight:500;
}

#entete #userBtn{
	color:black;
	font-size:15px;
}

#entete #userBtn:hover{
	background-color:#efeff1;
}

#entete #deconnectionBtn{
	color:black;
	font-size:15px;
	height:30px;
}

/**************************************************************/
/*********************** MAIN ******************************/
/**************************************************************/


main{
	padding-top:30px;
	height:99vh;
	background-color:ffffff;
}


/**************************************************************/
/*********************** TITRES ******************************/
/**************************************************************/


